vivado/*
vitis/*
.vscode
.Xil
doc
*.rpt
*.bit
*.xpr
*.dcp
*.edf
*.ini
__pycache__
build
build_x64
*.exe
*.csv
*.pdf
*.gdb
*.str


ip/*


do/modules.tcl


packages/uvvm/*/*/*/*/*
packages/uvvm/*/sim
packages/uvvm/*/*/sim
packages/uvvm/*/*/*/sim
packages/uvvm/*/*/*/*/sim

!packages/uvvm/LICENSE
!packages/uvvm/*/LICENSE
!packages/uvvm/*/*/LICENSE
!packages/uvvm/*/*/*/LICENSE
!packages/uvvm/*/*/*/*/LICENSE

!packages/uvvm/*.md
!packages/uvvm/*/*.md
!packages/uvvm/*/*/*.md
!packages/uvvm/*/*/*/*.md
!packages/uvvm/*/*/*/*/*.md

!packages/uvvm/*.txt
!packages/uvvm/*/*.txt
!packages/uvvm/*/*/*.txt
!packages/uvvm/*/*/*/*.txt
!packages/uvvm/*/*/*/*/*.txt

!packages/uvvm/*.vhd
!packages/uvvm/*/*.vhd
!packages/uvvm/*/*/*.vhd
!packages/uvvm/*/*/*/*.vhd
!packages/uvvm/*/*/*/*/*.vhd

!packages/uvvm/*.py
!packages/uvvm/*/*.py
!packages/uvvm/*/*/*.py
!packages/uvvm/*/*/*/*.py
!packages/uvvm/*/*/*/*/*.py

!packages/uvvm/*.do
!packages/uvvm/*/*.do
!packages/uvvm/*/*/*.do
!packages/uvvm/*/*/*/*.do
!packages/uvvm/*/*/*/*/*.do

!packages/uvvm/*.sh
!packages/uvvm/*/*.sh
!packages/uvvm/*/*/*.sh
!packages/uvvm/*/*/*/*.sh
!packages/uvvm/*/*/*/*/*.sh



simulator
!simulator/*.do
!simulator/*.tcl



# Ignore all files in ./boards but allow .tcl and .xdc on multiple levels
boards/*/*/*
# boards/*/*/*.tcl
# boards/*/*/*.xdc
# !boards/*.tcl
# !boards/*.xdc