vivado/*
vitis/*
!vivado/*.tcl
.vscode
.Xil
doc
!modelsim/*.do
*.rpt
*.bit
*.xpr
*.dcp
*.edf
*.ini
__pycache__
build
build_x64
*.exe
*.csv
*.pdf
*.gdb



packages/uvvm/*/*/*/*/*
packages/uvvm/*/sim
packages/uvvm/*/*/sim
packages/uvvm/*/*/*/sim
packages/uvvm/*/*/*/*/sim

!packages/uvvm/LICENSE
!packages/uvvm/*/LICENSE
!packages/uvvm/*/*/LICENSE
!packages/uvvm/*/*/*/LICENSE
!packages/uvvm/*/*/*/*/LICENSE

!packages/uvvm/*.md
!packages/uvvm/*/*.md
!packages/uvvm/*/*/*.md
!packages/uvvm/*/*/*/*.md
!packages/uvvm/*/*/*/*/*.md

!packages/uvvm/*.txt
!packages/uvvm/*/*.txt
!packages/uvvm/*/*/*.txt
!packages/uvvm/*/*/*/*.txt
!packages/uvvm/*/*/*/*/*.txt

!packages/uvvm/*.vhd
!packages/uvvm/*/*.vhd
!packages/uvvm/*/*/*.vhd
!packages/uvvm/*/*/*/*.vhd
!packages/uvvm/*/*/*/*/*.vhd

!packages/uvvm/*.py
!packages/uvvm/*/*.py
!packages/uvvm/*/*/*.py
!packages/uvvm/*/*/*/*.py
!packages/uvvm/*/*/*/*/*.py

!packages/uvvm/*.do
!packages/uvvm/*/*.do
!packages/uvvm/*/*/*.do
!packages/uvvm/*/*/*/*.do
!packages/uvvm/*/*/*/*/*.do

!packages/uvvm/*.sh
!packages/uvvm/*/*.sh
!packages/uvvm/*/*/*.sh
!packages/uvvm/*/*/*/*.sh
!packages/uvvm/*/*/*/*/*.sh



modelsim/*
!modelsim/*.do
!modelsim/*.tcl



boards/*
!boards/*.tcl