outputs/*
vivado/*
vitis/*
.vscode
.Xil
doc
*.rpt
*.bit
*.xpr
*.dcp
*.edf
*.ini
__pycache__
build
build_x64
*.exe
*.csv
*.pdf
*.gdb
*.str
CMakeCache.txt

backup

do/modules.tcl


packages/uvvm/*/*/*/*/*
packages/uvvm/*/sim
packages/uvvm/*/*/sim
packages/uvvm/*/*/*/sim
packages/uvvm/*/*/*/*/sim

!packages/uvvm/LICENSE
!packages/uvvm/*/LICENSE
!packages/uvvm/*/*/LICENSE
!packages/uvvm/*/*/*/LICENSE
!packages/uvvm/*/*/*/*/LICENSE

!packages/uvvm/*.md
!packages/uvvm/*/*.md
!packages/uvvm/*/*/*.md
!packages/uvvm/*/*/*/*.md
!packages/uvvm/*/*/*/*/*.md

!packages/uvvm/*.txt
!packages/uvvm/*/*.txt
!packages/uvvm/*/*/*.txt
!packages/uvvm/*/*/*/*.txt
!packages/uvvm/*/*/*/*/*.txt

!packages/uvvm/*.vhd
!packages/uvvm/*/*.vhd
!packages/uvvm/*/*/*.vhd
!packages/uvvm/*/*/*/*.vhd
!packages/uvvm/*/*/*/*/*.vhd

!packages/uvvm/*.py
!packages/uvvm/*/*.py
!packages/uvvm/*/*/*.py
!packages/uvvm/*/*/*/*.py
!packages/uvvm/*/*/*/*/*.py

!packages/uvvm/*.do
!packages/uvvm/*/*.do
!packages/uvvm/*/*/*.do
!packages/uvvm/*/*/*/*.do
!packages/uvvm/*/*/*/*/*.do

!packages/uvvm/*.sh
!packages/uvvm/*/*.sh
!packages/uvvm/*/*/*.sh
!packages/uvvm/*/*/*/*.sh
!packages/uvvm/*/*/*/*/*.sh



# Ignore all files in ./simulator directory but allow some exceptions
simulator/*
simulator/*/*
!simulator/*.do
!simulator/*.tcl
!simulator/do



# Ignore all files in ./boards up to a certain level
boards
boards/*
boards/*/*
boards/*/*/*
boards/*/*/*/*

# Allow files on multiple levels below the max level of the ignored levels
!boards
!boards/*
!boards/*/*
!boards/*/*/*